body,
html {
    margin: 0;
}

body {
    font-family: 'Comic Sans MS', 'HP Simplified Jpan', Verdana;
    color: #2A214B;
}

header {
    margin-top: 10px;
    color: #2A214B;
    width: 800px;
    margin-left: calc(50% - 400px);
    display: inline-block;
}

header>img{
    width: 37px;
    float: left;
}
header>p{
    float:left;
    font-size: 14px;
    line-height: 14px;
    margin-left: 5px;
}

nav {
    float:right;
    margin-top: 7px;
}

nav a{
    text-decoration: none;
    
    font-size: 14px;
    line-height: 14px;
}

nav a:hover {
    text-decoration: underline;
    text-decoration-color: red;
}

nav a:first-child {
    text-decoration: underline;
    text-decoration-color: red;
}

a+a {
    margin-left: 30px;
}

div>a {
    text-decoration: none;
    padding: 5px 20px;
    color: white;
    background-color: #FF4622;
    border-radius: 6px;
    font-size: 13px;
    
}

div>a:hover {
    background-color: #f7785e;
}

mark {
    background-color: transparent;
    color: #FF4622;
}

section {
    display:inline-block;
    width: 100%;
}

section>img:first-child {
    width:  50%;
    float: right; 
}

section div{
    width: 30%;
    margin-left: calc(50% - 400px);
    margin-top: 137px;
}

h1 {
    width: 70%;
}

div>img{
    
    width: 150px;
    margin-left: 150px;
    margin-bottom: 50px;
}