body,
html {
    margin: 0;
}

header {
    width: 800px;
    margin-left: calc(50% - 400px);
    display: inline-block;
}

nav {
    float:right;
}

nav a{
    text-decoration: none;
    color: black;
}

a+a {
    margin-left: 30px;
}


section {
    display:inline-block;
    width: 100%;
}

section>img:first-child {
    width:  70%;
    float: right; 
}

section div{
    width: 25%;
    margin-left: 71px;
    margin-top: 233px;
}